
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <!--content : CSS에서 사용되는 box개념, Container : 부트스트랩에서 사용되는 grid개념-->
            <div class="row">
                <!--row : 세로줄-->
                <div class="col-md-8">
                    <!--12개의 그리드 중 8개를 잡음-->
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>